@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	/* background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/bg.png"); */

	background:  url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
  background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
  padding: 0;
  margin: 0;
}

/* dark mode looking scrollbar */
::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: #f0efef;
}

::-webkit-scrollbar-thumb {
	background: #969595;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: #636363;
}

/* SHAKE ANIMATION ON HORIZONTAL DIRECTION */
.shake {
	animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0.2s both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
}

@keyframes shake {
	10%,
	90% {
		transform: translate3d(-1px, 0, 0);
	}

	20%,
	80% {
		transform: translate3d(2px, 0, 0);
	}

	30%,
	50%,
	70% {
		transform: translate3d(-4px, 0, 0);
	}

	40%,
	60% {
		transform: translate3d(4px, 0, 0);
	}
}

.content:hover .item-con {
display: none;
}

.epr_-6npj90 {
  border-radius: 0 !important;
  width: 100% !important;
  height: 300px !important;
}
.images img{
   border-radius: 50%;
 }


 .image_message{
  border: 3px solid #fff;

 }
.hide_icon{
  display: none;

}
 @media (max-width: 375px){
  .text_header {
font-size: 20px;
  }

 .image_message{
 width: 200px;
 height: 300px;  
 }
 }

 @media (max-width: 768px){
  .hide_section{
    display: none;
   }
   .slider{
    width: 100%;
   }
   .side_hide{
    display: none;
   }
   .conversation_active{
    display: block;
    display: flex;

   }
   .hide_icon{
    display: block;
  
  }
  
 }
 